{% extends 'base.html' %}

{% load static %}

{% block title %}编辑涨停 - {{ block.super }}{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE();
  </script>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'astocks:limitup' %}">涨停</a></li>
  <li class="breadcrumb-item active">编辑</li>
{% endblock %}

{% block content %}
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include '../includes/form.html' %}
    <button type="submit" class="btn btn-success">更新</button>
    {% if 'by' in request.session.keys %}
       <a href="/astocks/limitup_date?by={{stocklimitup.pick_date|date:'Y-m-d'}}" class="btn btn-outline-secondary" role="button">取消</a>
    {% else %}
       <a href="{% url 'astocks:limitup' %}" class="btn btn-outline-secondary" role="button">取消</a>
    {% endif %}
  </form>
{% endblock %}