{% extends 'base_accounts.html' %}

{% block title %}股票数据获取 - {{ block.super }}{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">股票数据获取</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">获取</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
