{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'boards:home' %}">板块</a></li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>板块</th>
        <th>类别</th>
        <th>涨跌幅</th>
        <th>涨停个数</th>
        <th>连涨天数</th>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
        <tr>
          <td>
            <a href="{% url 'boards:board_topics' board.pk %}">{{ board.name }}</a>
            <small class="text-muted d-block">{{ board.description }}</small>
          </td>
          <td class="align-middle">
            {{ board.type.name }}
          </td>
          <td class="align-middle">
            {% if board.get_growth>0 %}
               <span style="color:red">{{ board.get_growth }}</span>
            {% else %}
               <span style="color:green">{{ board.get_growth }}</span>
            {% endif %}
          </td>
          <td class="align-middle">
            <span style="color:red">{{ board.get_Limitups }}</span>
          </td>
          <td class="align-middle">
            {% if get_Continuerise_days>0 %}
               <span style="color:red">{{ board.get_Continuerise_days }}</span>
            {% else %}
               <span style="color:green">{{ board.get_Continuerise_days }}</span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'includes/pagination.html' %}
{% endblock %}