{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}
  {{ stock.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'boards:home' %}">板块</a></li>
  <li class="breadcrumb-item">
    {% for board in boards.all %}
    <a href="{% url 'boards:stock_detail' board.name stock.name %}">{{ board.name }}</a>, 
    {% endfor %}
 </li> 
 <li class="breadcrumb-item active">{{ stock.name }} {{ stock.ts_code }}</li>
{% endblock %}
{% block content %}
<center>
    <!-- 为ECharts准备一个具备大小（宽高）的容器 -->
    <div style="width:100%;height:1000px;margin-top:20px;">
        <div id="hist_futu" style="float:left;width: 100%;height:900px;"></div>
    </div>
    <!-- 为ECharts准备一个具备大小（宽高）的容器 -->
    <div style="width:100%;height:800px;margin-top:5px;">
        <div id="hist_block" style="float:left;width: 100%;height:750px;"></div>
    </div>
</center>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <script>
        var myChart = echarts.init(document.getElementById("hist_futu"));
        var myChart1 = echarts.init(document.getElementById("hist_block"));
        var app = {};///
       
        var option;
        var option1;

        const signals_state = ['买入', '卖出']
        var upColor = '#ec0000';
        var upBorderColor = '#8A0000';
        var downColor = '#00da3c';
        var downBorderColor = '#008F28';
        var data0;
        var code = '{{ stock.symbol|safe }}';
        var data = {{ data|safe }}
        var signals = {{ signals|safe }}
        var bdata = {{ bdata|safe }}
        var cci1 =  {{ bcci|safe }}
        
        {% comment %} 
        console.log("cci:"+JSON.stringify(signals.cci));
        console.log("cci数组:"+JSON.stringify(Object.values(signals.cci)));
        console.log("buy_signal:"+JSON.stringify(signals.buy_signal));
        console.log("sell_signal:"+JSON.stringify(signals.sell_signal));
        console.log("signal:"+JSON.stringify(cciAnalysis(signals))); {% endcomment %}
       
 
       
        if(data.length==0){
            data0 = JSON.parse(sessionStorage.getItem(code)); 
            signals =  JSON.parse(sessionStorage.getItem('signals'+code)); 
        }else{
            data0 = splitData(data);
           
            if(sessionStorage.length>4){
                sessionStorage.clear() 
            }
            sessionStorage.setItem(code, JSON.stringify(data0));
            sessionStorage.setItem('signals'+code, JSON.stringify(signals));
        }

        var data1 = splitData(bdata);

        function splitData(rawData) {
            var open_close_low_high = []
            var volumes = []
            var date = []
        
            for (var i = 0; i < rawData.length; i++) {
                open_close_low_high.push([rawData[i].open, rawData[i].close, rawData[i].low, rawData[i].high,rawData[i].vol,rawData[i].trade_date,rawData[i].capital_inflow])
                volumes.push(rawData[i].vol)
                date.push(rawData[i].trade_date)
            }
        
            return {
                'open_close_low_high': open_close_low_high,
                'volumes': volumes,
                'date': date,
                'name': rawData[0].name
            }
        }
        
        
        // 计算均量线
        function calculateVOL(dayCount, data) {
	        var result = [0];
    
	        for (var i = 1; i < data.length; i++) {
		        if (i < dayCount) {
			        result.push('-');
			        continue;
		        }
		        var sum = 0;
		        for (var j = 0; j < dayCount; j++) {
			        sum += +data[i - j][4];
		        }
		        result.push((sum / dayCount).toFixed(2));
	        }

	        return result;
        } 

        // 计算平均线
        function calculateMA(dayCount, data) {
	        var result = [];
	        for (var i = 0, len = data.length; i < len; i++) {
		        if (i < dayCount) {
			      result.push('-');
			      continue;
		        }
		        var sum = 0;
		        for (var j = 0; j < dayCount; j++) {
			        sum += +data[i - j][1];
		        }
		        result.push(parseFloat((sum / dayCount).toFixed(2)));
	        }
	
	        return result;
        }
       
        // 平滑移動平均線
        function calculateEMA(dayCount, data) {
            var ema = [0];
        
            for (var i = 1; i < data.length; i++) {
                var todayEMA = (2 / (dayCount + 1) * data[i][1]) +
                            ((dayCount - 1) / (dayCount + 1) * ema[i - 1]);
        
                ema.push(todayEMA.toFixed(2));
            }
        
            return ema;
        }

    
        function calculateMACD(data) {
            // 第一天全部为0
            var dif = [0];
            var dea = [0];
            var osc = [0];
        
            var ema12 = calculateEMA(12, data);
            var ema26 = calculateEMA(26, data);
        
            // 第三天开始
            for (var i = 1; i < data.length; i++) {
                dif.push((ema12[i] - ema26[i]).toFixed(3));
                dea.push((dea[i - 1] * 0.8 + dif[i] * 0.2).toFixed(3));
                osc.push((2 * (dif[i] - dea[i])).toFixed(3));
            }
        
            return {
                'DIF': dif,
                'DEA': dea,
                'OSC': osc
            }
        }

        function barColor(oscData) {
            var res = []
            for (var i = 0; i < oscData.length; i++) {
                if (oscData[i] > 0) {
                    res.push({
                        value: oscData[i],
                        itemStyle: {
                            color: '#FF0000'
                        }
                    })
                } else {
                    res.push({
                        value: oscData[i],
                        itemStyle: {
                            color: '#00FF00'
                        }
                    })
                }
            }
            return res;
        }

        function volumeColor(open_close) {
            const upColor = '#ec0000';
            const downColor = '#00da3c';
        
            var result = []
            for (var i = 0; i < open_close.length; i++) {
                result.push({
                    value:  open_close[i][4],
                    itemStyle: {
                        color: open_close[i][0] >= open_close[i][1] ? downColor : upColor
                    }
                })
            }
        
            return result
        }

        function inflowColor(open_close) {
            const upColor = '#ec0000';
            const downColor = '#00da3c';
        
            var result = []
            for (var i = 0; i < open_close.length; i++) {
                result.push({
                    value:  open_close[i][6],
                    itemStyle: {
                        color: open_close[i][6] >= 0 ? upColor : downColor
                    }
                })
            }
        
            return result
        }


        /**
         * 通过Signal做买入，卖出点
         */
        function cciAnalysis(signals) {
	        var result = [];
            let cci = Object.values(signals.cci);
            let buy = Object.values(signals.buy_signal);
            let sell = Object.values(signals.sell_signal);
	        for (var i = 0; i < cci.length-1; i++) {
		        if(signals.cci[i] != null){
                    if(buy[i] == 1){
                        result.push(0)
                    }else if(sell[i]==1){
                        result.push(1)
                    }else{
                        result.push('-')
                    }
                }else{
                    result.push('-')
                }
	        }
	        return result;
        }

        function formatCCIAnalysis(signal, cciData, date) {
            var result = []
         
            for (var i = 0; i < signal.length-1; i++) {
                 
                if (signal[i] !== '-') {
                    result.push({
                        symbolSize: 70,
                        yAxis: cciData[i],
                        xAxis: date[i],
                        value: signals_state[signal[i]],
                        itemStyle: {
                            color: signal[i] == 0 ? '#FFD700' : '#000000',
                            shadowColor: '#FFFFFF',
                            shadowBlur: 20
                        },
                        animation: true
                    })
                }
            }
        
            return result
        }


        option = {
            title: {
                text: data0.name
            },
            animation: false,
            legend: {
                top: 10,
                data: ['日K', 'MA5', 'MA12','MA25','MA120']
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                },
                borderWidth: 1,
                borderColor: '#ccc',
                padding: 10,
                textStyle: {
                    color: '#000'
                },
                position: function (pos, params, el, elRect, size) {
                    const obj = {
                        top: 10
                    };
                    obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 30;
                    return obj;
                }
            },
            axisPointer: {
                link: [
                    {
                        xAxisIndex: 'all'
                    }
                ],
                label: {
                    backgroundColor: '#777'
                }
            },
            toolbox: {
                feature: {
                    dataZoom: {
                        yAxisIndex: false
                    },
                    brush: {
                        type: ['lineX', 'clear']
                    }
                }
            },
            brush: {
                xAxisIndex: 'all',
                brushLink: 'all',
                outOfBrush: {
                    colorAlpha: 0.1
                }
            },
            visualMap: {
                show: false,
                seriesIndex: 5,
                dimension: 2,
                pieces: [
                    {
                        value: 1,
                        color: downColor
                    },
                    {
                        value: -1,
                        color: upColor
                    }
                ]
            },
            grid: [
                {
                    left: '10%',
                    right: '8%',
                    height: '40%'
                },
                {
                    left: '10%',
                    right: '8%',
                    top: '50%',
                    height: '14%'
                },
                {
                    left: '10%',
                    right: '8%',
                    top: '65%',
                    height: '14%'
                },
                {
                    left: '10%',
                    right: '8%',
                    top: '82%',
                    height: '14%'
                }  
            ],
            xAxis: [
                {
                    type: 'category',
                    data: data0.date,
                    boundaryGap: false,
                    axisLine: { onZero: false },
                    splitLine: { show: false },
                    min: 'dataMin',
                    max: 'dataMax',
                    axisPointer: {
                        z: 100
                    }
                },
                {
                    type: 'category',
                    gridIndex: 1,
                    data: data0.date,
                    boundaryGap: false,
                    axisLine: { onZero: false },
                    axisTick: { show: false },
                    splitLine: { show: false },
                    axisLabel: { show: false },
                    min: 'dataMin',
                    max: 'dataMax'
                },
                {
                    type: 'category',
                    gridIndex: 2,
                    data: data0.date,
                    boundaryGap: false,
                    axisLine: { onZero: false },
                    axisTick: { show: false },
                    splitLine: { show: false },
                    axisLabel: { show: false },
                    min: 'dataMin',
                    max: 'dataMax'
                },
                {
                    type: 'category',
                    gridIndex: 3,
                    data: data0.date,
                    boundaryGap: false,
                    axisLine: { onZero: false },
                    axisTick: { show: false },
                    splitLine: { show: false },
                    axisLabel: { show: false },
                    min: 'dataMin',
                    max: 'dataMax'
                }
            ],
            yAxis: [
                {
                    scale: true,
                    splitArea: {
                        show: true
                    }
                },
                {
                    scale: true,
                    gridIndex: 1,
                    splitNumber: 2,
                    axisLabel: { show: false },
                    axisLine: { show: false },
                    axisTick: { show: false },
                    splitLine: { show: false }
                },
                {
                    scale: true,
                    gridIndex: 2,
                    splitNumber: 2,
                    axisLabel: { show: false },
                    axisLine: { show: false },
                    axisTick: { show: false },
                    splitLine: { show: false }
                },
                {
                    scale: true,
                    gridIndex: 3,
                    splitNumber: 2,
                    axisLabel: { show: false },
                    axisLine: { show: false },
                    axisTick: { show: false },
                    splitLine: { show: false }
                }
            ],
            dataZoom: [
                {
                    type: 'inside',
                    xAxisIndex: [0,1,2,3],
                    start: 100 - Math.floor((60 / data0.date.length) * 100),
                    end: 100
                },
                {
                    show: true,
                    xAxisIndex: [0,1,2,3],
                    type: 'slider',
                    top: '96%',
                    start: 100 - Math.floor((60 / data0.date.length) * 100),
                    end: 100
                }
            ],
            series: [
                {
                    name: '日K',
                    type: 'candlestick',
                    data: data0.open_close_low_high,
                    itemStyle: {
                        color: upColor,
                        color0: downColor,
                        borderColor: upBorderColor,
                        borderColor0: downBorderColor
                    },
                    tooltip: {
                        formatter: function (param) {
                            param = param[0];
                            return [
                                'Date: ' + param.name + '<hr size=1 style="margin: 3px 0">',
                                'Open: ' + param.data[0] + '<br/>',
                                'Close: ' + param.data[1] + '<br/>',
                                'Lowest: ' + param.data[2] + '<br/>',
                                'Highest: ' + param.data[3] + '<br/>'
                            ].join('');
                        }
                    }
                },
                {
                    name: 'MA5',
                    type: 'line',
                    data: calculateMA(5,data0.open_close_low_high),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA12',
                    type: 'line',
                    data: calculateMA(12,data0.open_close_low_high),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA25',
                    type: 'line',
                    data: calculateMA(25,data0.open_close_low_high),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA120',
                    type: 'line',
                    data: calculateMA(120,data0.open_close_low_high),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: '成交量',
                    type: 'bar',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    data: volumeColor(data0.open_close_low_high),
                },
                {
                    name: '5日均量线',
                    type: 'line',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    color: '#e9b002',
                    smooth: true,
                    showSymbol: false,
                    lineStyle: {
                        width: 1
                    },
                    data: calculateVOL(5,data0.open_close_low_high)
                },
                {
                    name: '60日均量线',
                    type: 'line',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    color: '#0099FF',
                    smooth: true,
                    showSymbol: false,
                    lineStyle: {
                        width: 1
                    },
                    data: calculateVOL(60,data0.open_close_low_high)
                },
                {
                    name: '主力流入量(万)',
                    type: 'bar',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    data: inflowColor(data0.open_close_low_high),
                },
                {
                    name: 'MACD',
                    type: 'bar',
                    xAxisIndex: 2,
                    yAxisIndex: 2,
                    color: '#FF0000',
                    data: barColor(calculateMACD(data0.open_close_low_high).OSC)
                },
                {
                    name: 'DIF',
                    type: 'line',
                    xAxisIndex: 2,
                    yAxisIndex: 2,
                    color: '#e9b002',
                    smooth: true,
                    showSymbol: false,
                    lineStyle: {
                        width: 1
                    },
                    data: calculateMACD(data0.open_close_low_high).DIF
                },
                {
                    name: 'DEA',
                    type: 'line',
                    xAxisIndex: 2,
                    yAxisIndex: 2,
                    color: '#0099FF',
                    smooth: true,
                    showSymbol: false,
                    lineStyle: {
                        width: 1
                    },
                    data: calculateMACD(data0.open_close_low_high).DEA
                },
                {
                    name: 'CCI',
                    type: 'line',
                    xAxisIndex: 3,
                    yAxisIndex: 3,
                    color: '#e9b002',
                    smooth: true,
                    showSymbol: false,
                    lineStyle: {
                        width: 1
                    },
                    data: Object.values(signals.cci),
                    markPoint: {
                        data: formatCCIAnalysis(cciAnalysis(signals), Object.values(signals.cci), data0.date)
                    }
                }
            ]
        };

        option1 = {
            title: {
                text: data1.name
            },
            animation: false,
            legend: {
                top: 10,
                data: ['日K', 'MA5', 'MA12','MA25','MA120']
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                },
                borderWidth: 1,
                borderColor: '#ccc',
                padding: 10,
                textStyle: {
                    color: '#000'
                },
                position: function (pos, params, el, elRect, size) {
                    const obj = {
                        top: 10
                    };
                    obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 30;
                    return obj;
                }
            },
            axisPointer: {
                link: [
                    {
                        xAxisIndex: 'all'
                    }
                ],
                label: {
                    backgroundColor: '#777'
                }
            },
            toolbox: {
                feature: {
                    dataZoom: {
                        yAxisIndex: false
                    },
                    brush: {
                        type: ['lineX', 'clear']
                    }
                }
            },
            brush: {
                xAxisIndex: 'all',
                brushLink: 'all',
                outOfBrush: {
                    colorAlpha: 0.1
                }
            },
            visualMap: {
                show: false,
                seriesIndex: 5,
                dimension: 2,
                pieces: [
                    {
                        value: 1,
                        color: downColor
                    },
                    {
                        value: -1,
                        color: upColor
                    }
                ]
            },
            grid: [
                {
                    left: '10%',
                    right: '8%',
                    height: '40%'
                },
                {
                    left: '10%',
                    right: '8%',
                    top: '50%',
                    height: '14%'
                },
                {
                    left: '10%',
                    right: '8%',
                    top: '65%',
                    height: '14%'
                },
                {
                    left: '10%',
                    right: '8%',
                    top: '81%',
                    height: '14%'
                }  

            ],
            xAxis: [
                {
                    type: 'category',
                    data: data1.date,
                    boundaryGap: false,
                    axisLine: { onZero: false },
                    splitLine: { show: false },
                    min: 'dataMin',
                    max: 'dataMax',
                    axisPointer: {
                        z: 100
                    }
                },
                {
                    type: 'category',
                    gridIndex: 1,
                    data: data1.date,
                    boundaryGap: false,
                    axisLine: { onZero: false },
                    axisTick: { show: false },
                    splitLine: { show: false },
                    axisLabel: { show: false },
                    min: 'dataMin',
                    max: 'dataMax'
                },
                {
                    type: 'category',
                    gridIndex: 2,
                    data: data1.date,
                    boundaryGap: false,
                    axisLine: { onZero: false },
                    axisTick: { show: false },
                    splitLine: { show: false },
                    axisLabel: { show: false },
                    min: 'dataMin',
                    max: 'dataMax'
                },
                {
                    type: 'category',
                    gridIndex: 3,
                    data: data1.date,
                    boundaryGap: false,
                    axisLine: { onZero: false },
                    axisTick: { show: false },
                    splitLine: { show: false },
                    axisLabel: { show: false },
                    min: 'dataMin',
                    max: 'dataMax'
                }
            ],
            yAxis: [
                {
                    scale: true,
                    splitArea: {
                        show: true
                    }
                },
                {
                    scale: true,
                    gridIndex: 1,
                    splitNumber: 2,
                    axisLabel: { show: false },
                    axisLine: { show: false },
                    axisTick: { show: false },
                    splitLine: { show: false }
                },
                {
                    scale: true,
                    gridIndex: 2,
                    splitNumber: 2,
                    axisLabel: { show: false },
                    axisLine: { show: false },
                    axisTick: { show: false },
                    splitLine: { show: false }
                },
                {
                    scale: true,
                    gridIndex: 3,
                    splitNumber: 2,
                    axisLabel: { show: false },
                    axisLine: { show: false },
                    axisTick: { show: false },
                    splitLine: { show: false }
                }
            ],
            dataZoom: [
                {
                    type: 'inside',
                    xAxisIndex: [0, 1, 2, 3],
                    start: 100 - Math.floor((60 / data1.date.length) * 100),
                    end: 100
                },
                {
                    show: true,
                    xAxisIndex: [0, 1, 2, 3],
                    type: 'slider',
                    top: '95%',
                    start: 100 - Math.floor((60 / data1.date.length) * 100),
                    end: 100
                }
            ],
            series: [
                {
                    name: '日K',
                    type: 'candlestick',
                    data: data1.open_close_low_high,
                    itemStyle: {
                        color: upColor,
                        color0: downColor,
                        borderColor: upBorderColor,
                        borderColor0: downBorderColor
                    },
                    tooltip: {
                        formatter: function (param) {
                            param = param[0];
                            return [
                                'Date: ' + param.name + '<hr size=1 style="margin: 3px 0">',
                                'Open: ' + param.data[0] + '<br/>',
                                'Close: ' + param.data[1] + '<br/>',
                                'Lowest: ' + param.data[2] + '<br/>',
                                'Highest: ' + param.data[3] + '<br/>'
                            ].join('');
                        }
                    }
                },
                {
                    name: 'MA5',
                    type: 'line',
                    data: calculateMA(5,data1.open_close_low_high),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA12',
                    type: 'line',
                    data: calculateMA(12,data1.open_close_low_high),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA25',
                    type: 'line',
                    data: calculateMA(25,data1.open_close_low_high),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA120',
                    type: 'line',
                    data: calculateMA(120,data1.open_close_low_high),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: '成交量',
                    type: 'bar',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    data: volumeColor(data1.open_close_low_high),
                },
                {
                    name: '5日均量线',
                    type: 'line',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    color: '#e9b002',
                    smooth: true,
                    showSymbol: false,
                    lineStyle: {
                        width: 1
                    },
                    data: calculateVOL(5,data1.open_close_low_high)
                },
                {
                    name: '60日均量线',
                    type: 'line',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    color: '#0099FF',
                    smooth: true,
                    showSymbol: false,
                    lineStyle: {
                        width: 1
                    },
                    data: calculateVOL(60,data1.open_close_low_high)
                },
                {
                    name: 'MACD',
                    type: 'bar',
                    xAxisIndex: 2,
                    yAxisIndex: 2,
                    color: '#FF0000',
                    data: barColor(calculateMACD(data1.open_close_low_high).OSC)
                },
                {
                    name: 'DIF',
                    type: 'line',
                    xAxisIndex: 2,
                    yAxisIndex: 2,
                    color: '#e9b002',
                    smooth: true,
                    showSymbol: false,
                    lineStyle: {
                        width: 1
                    },
                    data: calculateMACD(data1.open_close_low_high).DIF
                },
                {
                    name: 'DEA',
                    type: 'line',
                    xAxisIndex: 2,
                    yAxisIndex: 2,
                    color: '#0099FF',
                    smooth: true,
                    showSymbol: false,
                    lineStyle: {
                        width: 1
                    },
                    data: calculateMACD(data1.open_close_low_high).DEA
                },
                {
                    name: 'CCI',
                    type: 'line',
                    xAxisIndex: 3,
                    yAxisIndex: 3,
                    color: '#e9b002',
                    smooth: true,
                    showSymbol: false,
                    lineStyle: {
                        width: 1
                    },
                    data: cci1
                }
            ]
        };


        option && myChart.setOption(option)

	    window.addEventListener('resize', () => {
		    myChart.resize()
	    })

        option1 && myChart1.setOption(option1)

        
	    window.addEventListener('resize', () => {
		    myChart1.resize()
	    })
 
    </script>    
{% endblock %}