{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}
  {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'boards:home' %}">板块</a></li>
  <li class="breadcrumb-item active">{{ board.name }}</li>
 
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>股票代码</th>
        <th>股票名称</th>
        <th>涨跌幅</th>
        <th>涉及板块</th>
      </tr>
    </thead>
    <tbody>
      {% for stock in stockses %} 
        {% url 'boards:stock_detail' board.name stock.name as stock_url %}
        <tr>
          <td>
            <p class="mb-0">
              <a href="{{ stock_url }}">{{ stock.code }}</a>
            </p>
          </td>
          <td>{{ stock.name }}</td>
          <td class="align-middle">
            {% if stock.growth > 0 %}
               <span style="color:red">{{ stock.growth }}</span>
            {% else %}
               <span style="color:green">{{ stock.growth }}</span>
            {% endif %}
          </td>
          <td class="align-middle">
            {% with boards=stock.boards %}
              {% if boards %}
                <small>
                  {% for b in boards.all %}
                  <a href="{% url 'boards:board_stocks' b.name %}">{{ b.name }}</a> ,
                  {% endfor %}
                </small>
              {% else %}
                <small class="text-muted">
                  <em></em>
                </small>
              {% endif %}
            {% endwith %}
        </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'includes/pagination.html' %}
  <center>
    <!-- 为ECharts准备一个具备大小（宽高）的容器 -->
    <div style="width:100%;height:800px;margin-top:50px;">
        <div id="hist_futu" style="float:left;width: 100%;height:750px;"></div>
    </div>
  </center>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <script>
        var myChart = echarts.init(document.getElementById("hist_futu"));
        var app = {};///
       
        var option;

        var upColor = '#ec0000';
        var upBorderColor = '#8A0000';
        var downColor = '#00da3c';
        var downBorderColor = '#008F28';
        var data = {{ data|safe }}

        var data0 = splitData(data.reverse());


        function splitData(rawData) {
            var open_close_low_high = []
            var volumes = []
            var date = []
        
            for (var i = 0; i < rawData.length; i++) {
                open_close_low_high.push([rawData[i].open, rawData[i].close, rawData[i].low, rawData[i].high,rawData[i].vol,rawData[i].trade_date])
                volumes.push(rawData[i].vol)
                date.push(rawData[i].trade_date)
            }
        
            return {
                'open_close_low_high': open_close_low_high,
                'volumes': volumes,
                'date': date,
                'name': rawData[0].name
            }
        }
        
        
        // 计算均量线
        function calculateVOL(dayCount, data) {
	        var result = [0];
    
	        for (var i = 1; i < data.length; i++) {
		        if (i < dayCount) {
			        result.push('-');
			        continue;
		        }
		        var sum = 0;
		        for (var j = 0; j < dayCount; j++) {
			        sum += +data[i - j][4];
		        }
		        result.push((sum / dayCount).toFixed(3));
	        }

	        return result;
        } 

        // 计算平均线
        function calculateMA(dayCount, data) {
	        var result = [];
	        for (var i = 0, len = data.length; i < len; i++) {
		        if (i < dayCount) {
			      result.push('-');
			      continue;
		        }
		        var sum = 0;
		        for (var j = 0; j < dayCount; j++) {
			        sum += +data[i - j][1];
		        }
		        result.push(sum / dayCount);
	        }
	
	        return result;
        }
       
        // 平滑移動平均線
        function calculateEMA(dayCount, data) {
            var ema = [0];
        
            for (var i = 1; i < data.length; i++) {
                var todayEMA = (2 / (dayCount + 1) * data[i][1]) +
                            ((dayCount - 1) / (dayCount + 1) * ema[i - 1]);
        
                ema.push(todayEMA.toFixed(3));
            }
        
            return ema;
        }

        function barColor(oscData) {
            var res = []
            for (var i = 0; i < oscData.length; i++) {
                if (oscData[i] > 0) {
                    res.push({
                        value: oscData[i],
                        itemStyle: {
                            color: '#FF0000'
                        }
                    })
                } else {
                    res.push({
                        value: oscData[i],
                        itemStyle: {
                            color: '#00FF00'
                        }
                    })
                }
            }
            return res;
        }

        function volumeColor(open_close) {
            const upColor = '#ec0000';
            const downColor = '#00da3c';
        
            var result = []
            for (var i = 0; i < open_close.length; i++) {
                result.push({
                    value:  open_close[i][4],
                    itemStyle: {
                        color: open_close[i][0] >= open_close[i][1] ? downColor : upColor
                    }
                })
            }
        
            return result
        }


        option = {
            title: {
                text: data0.name
            },
            animation: false,
            legend: {
                top: 10,
                data: ['日K', 'MA5', 'MA12','MA25','MA120']
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                },
                borderWidth: 1,
                borderColor: '#ccc',
                padding: 10,
                textStyle: {
                    color: '#000'
                },
                position: function (pos, params, el, elRect, size) {
                    const obj = {
                        top: 10
                    };
                    obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 30;
                    return obj;
                }
            },
            axisPointer: {
                link: [
                    {
                        xAxisIndex: 'all'
                    }
                ],
                label: {
                    backgroundColor: '#777'
                }
            },
            toolbox: {
                feature: {
                    dataZoom: {
                        yAxisIndex: false
                    },
                    brush: {
                        type: ['lineX', 'clear']
                    }
                }
            },
            brush: {
                xAxisIndex: 'all',
                brushLink: 'all',
                outOfBrush: {
                    colorAlpha: 0.1
                }
            },
            visualMap: {
                show: false,
                seriesIndex: 5,
                dimension: 2,
                pieces: [
                    {
                        value: 1,
                        color: downColor
                    },
                    {
                        value: -1,
                        color: upColor
                    }
                ]
            },
            grid: [
                {
                    left: '10%',
                    right: '8%',
                    height: '64%'
                },
                {
                    left: '10%',
                    right: '8%',
                    top: '73%',
                    height: '16%'
                }
                
            ],
            xAxis: [
                {
                    type: 'category',
                    data: data0.date,
                    boundaryGap: false,
                    axisLine: { onZero: false },
                    splitLine: { show: false },
                    min: 'dataMin',
                    max: 'dataMax',
                    axisPointer: {
                        z: 100
                    }
                },
                {
                    type: 'category',
                    gridIndex: 1,
                    data: data0.date,
                    boundaryGap: false,
                    axisLine: { onZero: false },
                    axisTick: { show: false },
                    splitLine: { show: false },
                    axisLabel: { show: false },
                    min: 'dataMin',
                    max: 'dataMax'
                }
            ],
            yAxis: [
                {
                    scale: true,
                    splitArea: {
                        show: true
                    }
                },
                {
                    scale: true,
                    gridIndex: 1,
                    splitNumber: 2,
                    axisLabel: { show: false },
                    axisLine: { show: false },
                    axisTick: { show: false },
                    splitLine: { show: false }
                }
            ],
            dataZoom: [
                {
                    type: 'inside',
                    xAxisIndex: [0, 1],
                    start: 100 - Math.floor((60 / data0.date.length) * 100),
                    end: 100
                },
                {
                    show: true,
                    xAxisIndex: [0, 1],
                    type: 'slider',
                    top: '90%',
                    start: 100 - Math.floor((60 / data0.date.length) * 100),
                    end: 100
                }
            ],
            series: [
                {
                    name: '日K',
                    type: 'candlestick',
                    data: data0.open_close_low_high,
                    itemStyle: {
                        color: upColor,
                        color0: downColor,
                        borderColor: upBorderColor,
                        borderColor0: downBorderColor
                    },
                    tooltip: {
                        formatter: function (param) {
                            param = param[0];
                            return [
                                'Date: ' + param.name + '<hr size=1 style="margin: 3px 0">',
                                'Open: ' + param.data[0] + '<br/>',
                                'Close: ' + param.data[1] + '<br/>',
                                'Lowest: ' + param.data[2] + '<br/>',
                                'Highest: ' + param.data[3] + '<br/>'
                            ].join('');
                        }
                    }
                },
                {
                    name: 'MA5',
                    type: 'line',
                    data: calculateMA(5,data0.open_close_low_high),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA12',
                    type: 'line',
                    data: calculateMA(12,data0.open_close_low_high),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA25',
                    type: 'line',
                    data: calculateMA(25,data0.open_close_low_high),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA120',
                    type: 'line',
                    data: calculateMA(120,data0.open_close_low_high),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: '成交量',
                    type: 'bar',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    data: volumeColor(data0.open_close_low_high),
                },
                {
                    name: '5日均量线',
                    type: 'line',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    color: '#ed9ffc',
                    smooth: true,
                    showSymbol: false,
                    lineStyle: {
                        width: 1
                    },
                    data: calculateVOL(5,data0.open_close_low_high)
                },
                {
                    name: '60日均量线',
                    type: 'line',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    color: '#FFFF00',
                    smooth: true,
                    showSymbol: false,
                    lineStyle: {
                        width: 1
                    },
                    data: calculateVOL(60,data0.open_close_low_high)
                }
            ]
        };

        option && myChart.setOption(option)

	    window.addEventListener('resize', () => {
		    myChart.resize()
	    })
 
    </script>    
{% endblock %}