{% extends 'base.html' %}
{% load humanize %}

{% block title %}
  {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'boards:home' %}">板块</a></li>
  <li class="breadcrumb-item active">{{ board.name }}</li>
  {% if board.type.name != "普通" %}
    <li class="ml-auto"><a href="{% url 'boards:board_stocks' board.pk %}">板块个股</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'boards:new_topic' board.pk %}" class="btn btn-primary">新建主题</a>
  </div>

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>主题</th>
        <th>发起者</th>
        <th>回帖</th>
        <th>浏览</th>
        <th>最后更新</th>
      </tr>
    </thead>
    <tbody>
      {% for topic in topics %} 
        {% url 'boards:topic_posts' board.pk topic.pk as topic_url %}
        <tr>
          <td>
            <p class="mb-0">
              <a href="{{ topic_url }}">{{ topic.subject }}</a>
            </p>
            <small class="text-muted">
              Pages:
              {% for i in topic.get_page_range %}
                <a href="{{ topic_url }}?page={{ i }}">{{ i }}</a>
              {% endfor %}
              {% if topic.has_many_pages %}
              ... <a href="{{ topic_url }}?page={{ topic.get_page_count }}">Last Page</a>
              {% endif %}
            </small>
          </td>
          <td>{{ topic.starter.username }}</td>
          <td>{{ topic.replies }}</td>
          <td>{{ topic.views }}</td>
          <td class="align-middle">{{ topic.last_updated|naturaltime }}</td>
          {% if topic.starter == user %}
            <td class="align-middle" >
              <a href="{% url 'boards:edit_topic' board.pk topic.pk %}" class="btn btn-outline-primary" role="button">编辑</a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'includes/pagination.html' %}
{% endblock %}